
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Font-awesome
@import "~font-awesome/scss/font-awesome.scss";

.modal-header i {
    margin-left: 106px;
    color: black;
}

.modal-header i:hover {
  cursor: pointer;
  opacity: 0.7
}
