// Variables
@import "variables";

@import "eshop.scss";
@import "responsive.scss";

body {
    background-color: #FFFFFF;
}

.badge a i.fa-plus {
    color: #fff;
}

.input.is-danger, .textarea.is-danger {
	border: solid 1px $danger;
}

.help.is-danger {
	color: $danger;
}